main.css
body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}
h1 {
	font-size: 100px;
	font-family: Palatino,
	'Palatino Linotype',
	serif;
	text-align: center;
	color: #008080;
	font-weight: bold;
}